In [6]:
import pandas as pd

In [7]:
url = "https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"
tables= pd.read_html(url)

In [8]:
type(tables)

list

In [9]:
len(tables)

1

In [12]:
fundraising=tables[0]

In [13]:
fundraising.head()

      Year Source        Revenue       Expenses    Asset rise   Total assets
0  2021/22    PDF  $ 154,686,521  $ 145,970,915   $ 8,173,996  $ 239,351,532
1  2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
2  2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
3  2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
4  2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570

In [14]:
type(fundraising)

pandas.core.frame.DataFrame

In [15]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

In [19]:
fundraising['Rev'] = fundraising['Revenue'].str[2:]

In [20]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532","154,686,521"
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536","162,886,686"
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725","129,234,327"
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425","120,067,266"
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570","104,505,783"

In [27]:
fundraising['Rev'] = fundraising['Revenue'].str.replace(',','')

In [29]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev
0,2021/22,PDF,"$ 154,686,521","$ 145,970,915","$ 8,173,996","$ 239,351,532",$ 154686521
1,2020/21,PDF,"$ 162,886,686","$ 111,839,819","$ 50,861,811","$ 231,177,536",$ 162886686
2,2019/20,PDF,"$ 129,234,327","$ 112,489,397","$ 14,674,300","$ 180,315,725",$ 129234327
3,2018/19,PDF,"$ 120,067,266","$ 91,414,010","$ 30,691,855","$ 165,641,425",$ 120067266
4,2017/18,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",$ 104505783